/*#region Template */
@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");

:root {
  --arena: #ffecdb;
  --rojo-oscuro: #d57f76;
  --rojo-claro: #fec8c2;
  --naranja: #ff914d;
  --naranja-claro: #ffd8c1;
  --cian: #7abbaa;
  --cian-claro: #b1dacf;
  --dorado: #f4bd5e;
  --amarillo: #ffdda3;
  --amarillo-oscuro: #dba71a;
  --crema: #fff2e7;
}

body {
  margin: 0;
  font-family: "Lilita One", cursive, sans-serif;
}

.tema-rojo {
  color: var(--roja-oscuro);
  background-color: var(--rojo-claro);
}

.tema-naranja {
  color: var(--naranja);
  background-color: var(--naranja-claro);
}

.tema-cian {
  color: var(--crema);
  background-color: var(--cian-claro);
}

.tema-amarillo {
  color: var(--amarillo-oscuro);
  background-color: var(--amarillo);
}

/*#endregion*/
